{% extends "base.html" %}

{% block content %}
<h1>Демоны лун</h1>
{% if current_user.is_authenticated %}
    <a href="addDemons" class="btn btn-secondary">Добавить персонажа</a>
{% endif %}
{% for item in demons%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/edit_demons/{{ item.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/demons_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
    {% endif %}
        <a href="/watch_demons/{{ item.id }}" class="btn btn-danger">
                Смотреть статью
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}